

{% for patient in patients %}
    {% if patient.role == 'ROLE_ADMIN' %}
    {% else %}
    <tr>
        <td>{{ patient.nom }}</td>
        <td>{{ patient.prenom }}</td>
        {% if patient.age == '0 ans' %}
            <td>Non renseigné</td>
        {% elseif patient.age is null %}
            <td>Non renseigné</td>
        {% else %}
            <td>{{ patient.age }}</td>
        {% endif %}
        <td>{{ patient.telephone }}</td>
        {% if patient.rdv.count == 0 %}
            <td class="pasDeRdv">
                <span>Pas de rdv prévus</span>
                <a href="{{ path('app_admin_patient_listerdv', {id: patient.id}) }}">Ajouter un rdv</a>
            </td>
        {% else %}
            <td><a href="{{ path('app_admin_patient_listerdv', {id: patient.id}) }}">{{ patient.rdv.count }}</a></td>
        {% endif %}
        <td>
            <a href="{{ path('app_admin_patient_infos', {id: patient.id}) }}"
               class="btn btn-sm btn-outline-info">
                <i class="fas fa-file-medical-alt"></i>
            </a>
            <a href="{{ path('app_admin_patient_supprimer', {id: patient.id}) }}"
               class="btn btn-sm btn-outline-danger">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endif %}
    {% else %}
    <tr>
        <td>Pas de résultat</td>
    </tr>
{% endfor %}
