<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dr Céline Filitika - Chirurgien Dentiste{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/P-prosternation.gif') }}">
        {% block stylesheets %}{% endblock %}
        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>

    {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-md navbar-dark navbar-admin">
        <div class="container navbar-nav">
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('app_admin_patient_index') }}" class="nav-link">
                            Gestion des patients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            Planning des rendez-vous
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            Gestion des actes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="container navbar-nav">
            <a href="{{ path('app_index_index') }}" class="navbar-brand">
                FILITIKA
            </a>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        Cabinet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        Bio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index_sante') }}">
                        Santé dentaire
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        Prendre un rendez-vous
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        Espace patient
                    </a>
                </li>
        </div>
    </nav>


    {# Div qui contient les messages #}
    <div id="messageFlash" class="container mt-2 flashMessage flashMessageAnimation">
        {% for type, flashes in app.session.flashBag.all %}
            {% for message in flashes %}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>

        {% block body %}
        Bienvenue sur le site du Dr Filitika, Chirurgien dentiste à Nouméa - Nouvelle Calédonie
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
